<div class="card">
  <div class="card__figure">
    <a href=""><img src="/images/entry_img1.png" alt="" /></a>
  </div>

  <div class="card__content">

    <a href="#" class="icon-set icon-padding">
        <span class="icon-set__icon">
            <span class="icon-bg--blue-circle icon-margin">
                <span class="fa fa-folder-open"></span>
            </span>
        </span>
        <span class="icon-set__text text-s">開発日記</a>
    </a>

    <h1><a href="single.html">Railsで複数のasset_hostを動的に切り替える方法</a></h1>

    <div class="card__content-footer">
        <hr class="divider">

        <div class="pull-left">
            <i class="fa fa-tag"></i>
            <a href="#">asset_sync</a>,
            <a href="#">rails</a>,
            <a href="#">ruby</a>
        </div>

        <div class="pull-right text-right">
            <p>Posted on 2014.08.26</p>
            <a href="#" class="icon-set">
                <span class="icon-set__icon">
                    <img src="../images/author_dummy.png" alt="" />
                </span>
                <span class="icon-set__text">山形 孝造</span>
            </a>
        </div>
    </div>
  </div>
</div>
