<nav class="pagination">
  <ol>
    <li><!--<i class="fa fa-angle-left fa-2x"></i>--></li>
    <li>1</li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href=""><i class="fa fa-angle-right fa-2x"></i></a></li>
  </ol>
</nav>
