---
title: ハレノヒブログ
---

<div class="container">
  <div class="main-container pull-left">

    <% 5.times do %>
      <%= partial 'card' %>
    <% end %>

    <%= partial 'pagination' %>
  </div>

  <div class="side-container pull-right">
    <div class="advertising">

    </div>

    <div class="box">
      <div class="box__header">
        <i class="fa fa-folder-open fa-fw"></i>カテゴリ一覧
      </div>
      <hr class="divider" />
      <div class="box__list">
          <ul>
            <li class="label-red"><a href="#">リリース情報</a></li>
            <li class="label-blue"><a href="#">開発日記</a></li>
            <li class="label-orange"><a href="#">森田の修行（デザイン）</a></li>
            <li class="label-yellow"><a href="#">その他</a></li>
            <li class="label-green"><a href="#">富山の修行</a></li>
          </ul>
        </div>
    </div>

    <div class="side-container__box">
      <div class="box__head">
        <i class="fa fa-tag fa-fw"></i>タグ一覧
      </div>
      <hr class="divider">
      <div class="box__tag-list">
        <ol>
          <li><a href="#"><img src="../images/tag_dummy.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ol>
      </div>
    </div>
    <div class="side-container__box">
      <div class="box__head">
        <i class="fa fa-twitter fa-fw"></i>Twitter
      </div>
      <hr class="divider">
      <div class="side-container__box__timeline">
        <a class="twitter-timeline" href="https://twitter.com/halenohi_jp" data-widget-id="608548439928864768">@halenohi_jpさんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="side-container__box">
      <div class="box__head staart">
        <img src="../images/staart.png" alt="" />Staart
      </div>
      <hr class="divider">
      <div class="side-container__box__timeline">
        <a class="twitter-timeline" href="https://twitter.com/staartjp" data-widget-id="608572772965416962">@staartjpさんのツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>

</div>
