---
title: ハレノヒブログ_記事
---


<article>
 <div class="single-container">
  <div class="single-container__header">
    <p class="text-s text-padding">Posted on 2014.08.26</p>
    <h1 class="text-bold text-center text-padding">Railsで複数のasset_hostを動的に切り替える方法</h1>
      <a href="#" class="icon-set pull-left icon-padding">
        <span class="icon-set__icon icon-padding">
          <span class="icon-bg--blue-circle">
              <span class="fa fa-folder-open"></span>
          </span>
       </span>
        <span class="icon-set__text text-s ">開発日記</a>
            <div class="pull-left tag-padding">
              <i class="fa fa-tag"></i>
              <a href="#">asset_sync</a>,
              <a href="#">rails</a>,
              <a href="#">ruby</a>
            </div>
    </div>

    <img src="../images/article_eyecatch.png" alt="" />

    <div class="single-container__body">
      <a href="#" class="icon-set">
          <span class="icon-set__icon icon-set__icon-padding">
              <img src="../images/author_dummy.png" alt="" />
          </span>
          <span class="icon-set__text">山形 孝造</span>
      </a>

      <hr class="divider">

      <p>
        こんにちは！
        <a href="https://www.staart.jp/">Staart</a>をご利用いただいている皆様、いつもありがとうございます。
        おかげさまでアクセス数をはじめ<a href="https://twitter.com/staartjp">ツイッターアカウント</a>のフォロワー様も着々と増えております。これから開催されるライブ件数も800件を突破しました！
      </p>
      <p>
        今回は、昨日紹介記事を書くのと同時に実装された新機能をご紹介いたします。
        新しく追加されたのは[ピックアップバナーエリア]です。
      </p>
      <div class="single-container__body__img">
      <img src="../images/article_img.png" alt="" />
      </div>
      <p>
        これはライブ一覧ページの最上部についたバナーエリアで、いまアクセス数が多い注目のライブや特集などのおすすめコンテンツをご紹介していきます。
        ライブが沢山ありすぎてどこを見たらいいか分からない時や、サクッと情報を拾いたい時などにどうぞ！
        ちなみにこのバナーエリアは他のコンテンツと違って横スクロールです。
        必要に応じてスクロールしてご覧ください。
      </p>
      <h2>アイコン小話</h2>
      <p>
        次は、Staartで使用しているアイコンに関してちょっと書いてみます。
        Staartではライブ・ユーザー・アーティスト・ライブハウスに関してオリジナルのアイコンを使用しています。サービスの雰囲気に合うよう留意しながら以下の４種類をそれぞれ制作しました。
      </p>
      <div class="single-container__body__img">
      <img src="../images/article_img2.png" alt="" />
      </div>
      <p>
        特にライブに関しては完全にオリジナルの意味を表すアイコンなので、これらの意味を把握しておくともっとサービスが使いやすいんじゃないかと思います。さり気なくマイクのコードがライブマークを意識してたりします。
        現在は上のようなカラーリングで使っているアイコンは、リリース当初ちょっと雰囲気が違いました。
      </p>
    </div>

    <div class="single-container__footer">
      <div class="sns">
        <h2>この記事をシェアする</h2>
        <ul>
          <li><a href="https://twitter.com/share"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a href="http://b.hatena.ne.jp/entry/syncer.jp"><i class="fa fa-hatena fa-3x"></i></a></li>
        </ul>
      </div>

       <div class="icon-set__mid space_top">
        <h2>この記事を書いた人の最新記事</h2>
        <a href=""><img src="../images/author_dummy_2.png" alt="" /><br>山形 孝造</a>
       </div>
        <div class="post-box">
          <img src="../images/article_entry.png" alt="" />
            <a href="">
              <p>
                Railsで複数のasset_hostを動的に切り替える方法
              </p>
            </a>
        </div>
        <div class="post-box">
          <img src="../images/article_entry.png" alt="" />
            <a href="">
              <p>
                Railsで複数のasset_hostを動的に切り替える方法
              </p>
            </a>
        </div>
        <div class="post-box">
          <img src="../images/article_entry.png" alt="" />
            <a href="">
              <p>
                Railsで複数のasset_hostを動的に切り替える方法
              </p>
            </a>
        </div>
        <div class="post-box">
          <img src="../images/article_entry.png" alt="" />
            <a href="">
              <p>
                Railsで複数のasset_hostを動的に切り替える方法
              </p>
            </a>
        </div>
      </div>

      <div class="box__taglist">
        <hr class="divider">
        <h2><i class="fa fa-tag fa-fw"></i>タグ一覧</h2>
        <ol>
          <li><a href="#"><img src="../images/tag_dummy.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-5.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-2.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-3.png" alt="" /></a></li>
          <li><a href="#"><img src="../images/tag_dummy-4.png" alt="" /></a></li>
        </ol>
      </div>
    </div>
</div>
</article>
