.card {
  @include pie-clearfix;
  position: relative;
  margin: 0 0 40px 0;
  min-height: $card_figure_width;
  background-color: #fff;
}

.card__figure {
  position: absolute;
  top: 0;
  left: 0;
}

.card__content {
  margin: 0 0 0 $card_figure_width;
  padding: 20px;
}

.card__content-footer {
  position: absolute;
  left: $card_figure_width + 20px;
  bottom: 20px;
  right: 20px;
  font-size: 13px;

  p {
    margin: 0 0 10px 0;
  }
}


/*
.card {
  @include pie-clearfix;
  width :692px;
  margin-top: 30px;

  img {
    width: 242px;
    float: left;
  }
}

.card__box {
  font-size: 12px;
  width: 450px;
  height: 243px;
  float: right;
  position: relative;
  background: #fff;

  h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 32px;
    margin-right: 32px;
    line-height: 1.3;
  }
}

.card__box__category {
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: 32px;

  img {
  width: 31px;
  margin-top: -9px;
  margin-right: 6px;
  }
}

hr.divider {
  width: 90%;
  margin-top: 33px;
}

.pull-left {
  margin-top: 3px;
  margin-left: 32px;
  float: left;

    .fa {
      padding-right: 12px;
    }
  }

.pull-right {
    margin-top: 4px;
    margin-right: 32px;
    float: right;

    a{
      margin-top: 32px;
      margin-right: 32px;
      clear: both;
      position: absolute;
      right: 0;
    }
    
    img {
      width: 32px;
      margin-top: -9px;
      margin-right: 12px;
    }
  }

/*
.pull-right__icon {
  margin-top: 32px;
  margin-right: 32px;
  clear: both;
  position: absolute;
  right: 0;

    img{
      width: 32px;
      margin-top: -9px;
      margin-right: 12px;
    }
  }
  */
