.fa-hatena {

    &:before {
        content: "B!";
        font-family: Verdana;
        font-weight: bold;
    }
}

.text-s{
  font-size: 14px;
}

.text-bold {
  font-size: 28px;
  font-weight: bold;
}
