.global-footer {
  @include pie-clearfix;
  width: 100%;
  background-color: #e1e1e1;
  margin-top: 30px;
  clear: both;
}

.global-footer__container {
  @include pie-clearfix;
  width: 1110px;
  height: 360px;
  background-color: #e1e1e1;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 17px;
}

.global-footer__container__column {
  width: 360px;
  float: left;

    img{
      margin-right: 9px;
      vertical-align: middle;
    }

    .container__info__logo {
      float: left;
    }

    .container__info__description {
      float: left;
      margin-left: 9px;
      font-size: 14px;
      line-height: 1.4;
    }

    .footer_link {
      clear: both;
      padding-top: 9px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
    }
   &:last-child{ float: right; }
}

.author-link {
  padding-bottom: 12px;
}

.copyrights {
  padding: 6px;
  font-size: 12px;
  text-align: center;
}
