.icon-set {
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
  min-height: $icon_default_size;
}

.icon-set__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-set__text {
  display: block;
  margin: 0 0 0 31px;
  padding: 10px 0 0 10px;
}

.icon-set__mid {
  text-align: center;
  padding-bottom: 32px;
img {
  padding-top: 18px;
  padding-bottom: 18px;
 }
}
