.pagination {
  position: relative;
  width: 692px;
  height: 90px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination ol {
  position: absolute;
  top: 50%;
  left: 26%;
  display: table;
}

.pagination li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 12px;
  padding-left: 12px;

 &:first-child {
   width: 18px;
 }
  &:nth-child(2){
    width: 29px;
    text-align: center;
  }

  a {
    padding: 9px;
    color: #b6b6b6;

    &:hover {
    color:#25aee7;
    }
  }
}
