.advertising {
  width: 180px;
  height: 150px;
  margin: 0 auto;
  background :gray;
}

.box {
  @include pie-clearfix;
  margin-top: 24px;

  hr.divider {
    width: 100%;
    margin-top: 16px;
  }
  .box-header {
    padding-bottom: 9px;

   .fa-fw {
      padding-right: 12px;
    }

    img {
      padding-right: 12px;
      vertical-align: middle;
    }
  }

  .box__body {
    font-size: 14px;
    line-height: 2.0;

     li{
       margin-top: 12px;
       padding-left: 9px;

      a {
        display: inline-block;
        width: 330px;
        height: 30px;
      }
    }
  }

.label-red {
  border-left: 14px solid #ff6f76;
}

.label-blue {
  border-left: 14px solid #62c9eb;
}

.label-orange {
  border-left: 14px solid #ff9969;
}

.label-yellow {
  border-left: 14px solid #ffe581;
}

.label-green {
  border-left: 14px solid #13ad67;
}

  .box__tag-list {
    height: 200px;

    li {
    float: left;
    }

    img{
    margin: 6px 6px 0 0;
    }
  }

  .side-container__box__timeline {
    padding-top: 24px;
  }
}

.staart {

  img{
   margin-right: 6px;
   vertical-align: middle;
  }
}
